.banner{
    height: 15vh;
    width: 200px;
    top: 0px;
    margin-left: 8px;
    
}
.ban{
    background-color: black;
    
    width: 95vw;
}
h2{
    color: white;
    padding-left: 8vh;
    
}
.home{
    height: 60vh;
    margin-top: -3vh;
    width: 98vw;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("./images/main.jpg");
    background-size: cover;
    justify-items: center;
    overflow: hidden;
    
}
.heading{
    color: #c2a43b;
    padding-top: 20vh;
    
}
.para{
    text-align: left;
    
}
.cli{
    color: white;
    background-color: black;
    width: 20vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 4vw;
    border-radius: 20px;
    height: calc(270px - 10vw);
    border: 5px solid #c2a43b;
    margin: 0.6vw;
    overflow: hidden;
    
    }
a{
    text-decoration: none;
    color: #c2a34b;
}
.name{
    color: #c2a43b;
}
.clients{
    display: flex;
    height: calc(400px - 10vw);
    width: 98vw;
    overflow: hidden;
    
}
body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: visible !important;
}
.exp{   
 height: 70vw;
 position: relative;
 width: 98vw;
 overflow: hidden;
    
}
.im{
    height: 70vw;
    opacity: 0.7;
    position: absolute;
    
}
button:hover{
    transform: scale(1.05);
}

button{
    color: #c2a43b;
    height: calc(9vh - 1vw);
    width: 30vw;
    font-size: 20px;
    background-color: black;
    border-radius: 20px;
    border-color: #c2a43b;
    border-width: 5px;
    margin-top: 5px;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.4);
}
.p{
    color: whitesmoke;
    position: relative;
    font-weight: bold;
    font-style: italic;
    font-size: 3vw;
    width: 95vw;
    
}
span{
    font-size: 10vw;
    font-style: initial;
    color: white;
    
}
